TELEGRAM_BOT_TOKEN=
GITLAB_BASE_URL=https://git.fix-price.ru
GITLAB_TOKEN=
GITLAB_PROJECT_PATH=android/fixprice_serbia
ALLOWED_GITLAB_USERS=user1,user2
GROUP_CHAT_ID=
POLL_INTERVAL_MS=180000
REMINDER_INTERVAL_MS=10800000
NO_LABEL_GRACE_MS=900000
WORK_HOURS_START=9
WORK_HOURS_END=19
WORK_TZ=Europe/Moscow
WORK_DAYS=1,2,3,4,5
STORE_PATH=./data/store.json
